body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background: linear-gradient(to right, green 33%, white 33%, white 66%, red 66%);
}

h1 {
    margin-bottom: 20px;
    color: #000;
}

.buscar-carton-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.carton-maestro {
    width: 20%;  /* Cartón Maestro más pequeño */
    text-align: center;
}

.carton-maestro .carton {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.carton-maestro .carton img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.cartones-container {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.carton {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
    border: 2px solid #000;
    padding: 5px;
    position: relative;
    background-color: #fff; /* Fondo blanco para los cartones */
}

.carton img {
    width: 100%;
    height: auto;
}

.carton h3 {
    position: absolute;
    top: -20px;
    left: 10px;
    font-size: 14px;
    background: #fff;
    padding: 3px;
    border-radius: 5px;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
